extends layout.pug 

block 
    link(rel='stylesheet' href='static/styles/global.css')

block content 
    h2 Favorite Courses 
    each course in courses 
        div
            h2 #{course.name}
            p #{course.rating}
            p #{course.description}
            button(type='button') Unlike
            a(href=`/api/courses/${course.id}`) View course