extends layout

//- block variables 
//-     - var isUserLoggedIn = true

block relsheets 
    link(rel='stylesheet' href='static/styles/course_card.css')

block content
    h1 Latest Courses 
    div.cards
        each course in courses 
            include course_card.pug
    h1 Recommended Courses
    div.cards
        each course in courses 
            include course_card.pug