block variables
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet' href='static/styles/global.css')
    block relsheets
    block scripts
  body
    header 
      if isUserLoggedIn
        include logged_header
      else 
        include unlogged_header
    main
      block content
    footer
      p &copy; 2024 Ahmed Shaaban