form {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
    width: 300px;
}

.field {
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
}